@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.icon-button {
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.search-icon {
    color: var(--primary-text);
    font-size: 18px;
}

.input-base {

}
