:root {
  --primary-background: #adbdbd; /* Couleur de fond principale */
  --secondary-background: #757126; /* Couleur de fond secondaire */
  --primary-text: #1d2c47; /* Couleur du texte principal */
  --secondary-text: #243470; /* Couleur du texte secondaire */
  --primary-color: #4c5120; /* Couleur principale (bleu doux) */
  --hover-color: #87afa1; /* Couleur au survol */
  --border-color: #cdcfc4; /* Couleur des bordures */
  --border-radius: 8px; /* Rayon de bordure arrondi */
  --shadow: 0 4px 8px rgba(156, 12, 12, 0.1); /* Ombre légère */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #121212;
    --secondary-background: #1e1e1e;
    --primary-text: #e0e0e0;
    --secondary-text: #b0b0b0;
    --primary-color: #4c441b;
    --hover-color: #493d26;
    --border-color: #333333;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: Arial, sans-serif;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}
